<div class="row">
	<div class="col-lg-2">
		<%= link_to "https://shipprr.herokuapp.com", class: "nohover" do |x| %>
			<h1 class="logo">Shipprr</h1>
		<% end %>
	</div>
	<div class="col-lg-4 col-sm-4 col-4"></div>
	<div class="col-lg-6 col-sm-6 col-6">
		<div class="littletext"><small>Shipping can involve virtually any kind of relationship – from the well-known and established, to the ambiguous or those undergoing development, and even to the highly improbable and the blatantly impossible. 
			<%= link_to '-wikipedia', "http://en.wikipedia.org/wiki/Shipping_(fandom)", target: '_blank' %></small></div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12 center">
		<%= link_to '#', remote: true do |x| %>
			<%= image_tag 'boat2.png', class: "imglogo", width: 250 %>
		<% end %>
	</div>
</div>

<div class="row zone1">
	<div class="col-lg-2 col-sm-2 col-2"></div>
	<div class="col-lg-8 description center">
		<span class="lead">Shipping has been a part of fan communities since the dawn of the internet
			<sup><%= link_to '1', "http://knowyourmeme.com/memes/subcultures/shipping", class: "nohover white" %></sup>.
		</span><br>
		Fanfictions, fanart, and fan discussion often revolve around pairings of different characters.<br>
		But until now, there was no place that every ship could call home.<br>
	</div>
</div>
<div class="row zone2">
	<div class="col-lg-2 col-sm-2 col-2"></div>
	<div class="col-lg-8 description center">
		<span class="lead">Shipprr is currently in 
			<%= link_to "beta", "https://shipprr.herokuapp.com", target: "_blank" %>
			, but we can keep you updated.</span>
<!-- Begin MailChimp Signup Form -->
		<form action="http://shipprr.us7.list-manage1.com/subscribe/post?u=1bdde3c7030723487dc1e705d&amp;id=23bc43f44c"
		 name="mc-embedded-subscribe-form" 
		 method="post"
		 class="form-inline" target="_blank" novalidate>
			<input type="email" placeholder="Email" name="EMAIL" class="form-control" id="mce-EMAIL">
			<button type="submit" id="mc-embedded-subscribe" class="btn btn-submit">Let Me Know When It's Done</button>
		</form>
<!-- End MailChimp -->
		<br>
		<small>Tell the fandom: </small>
			<a href="https://www.facebook.com/sharer/sharer.php?u=shipprr.com" target="_blank">
			  <%= image_tag "fb.png", title: "Share on Facebook" %>
			</a>
			<a href="https://twitter.com/share" class="twitter-share-button" data-related="shipprr">Tweet</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>		
				</div>
</div>
<div class="row zone3">
	<div class="col-lg-2 col-sm-2 col-2"></div>
	<div class="col-lg-8 description center">
		<span class="lead">Shipprr is a hub for every ship imaginable.</span><br>
		A flexible tagging system allows for effortless categorization. And if you can't find the pairing you're looking for,<br>
		post it to become the captain of your own ship. The possibilities are endless.<hr>
		<small>Note: Designs shown are subject to change.</small><br><br>
		<div class="row">
			<div class="col-lg-6">
				<%= image_tag "exampleship.png", width: 450, title: "Example Ship" %>
			</div>
			<div class="col-lg-6">
				<span class="pull-right">
					<span class="leadtitle">A Ship.</span> <br> A ship is a pairing: two characters (or people), a couple name,
					a description, and a set of relevant tags. Ships can be voted on by either Shipping or Sinking them.
				</span>
			</div>
		</div>
		<br><br>
		<div class="row">
			<div class="col-lg-6">
				<%= image_tag "exampleheadline.png", width: 450, title: "Example Headline" %>
			</div>
			<div class="col-lg-6">
				<span class="pull-right">
					<span class="leadtitle">Headlines.</span> <br> Headlines present news relevant to the Ship they are posted
					under. This can be a fanfiction, links to pictures, or a general topic of discussion.
				</span>
			</div>
		</div>
		<br><br>
		<div class="row">
			<div class="col-lg-6">
				<%= image_tag "examplecomment.png", width: 450, title: "Example Comments" %>
			</div>
			<div class="col-lg-6">
				<span class="pull-right">
					<span class="leadtitle">Commenting.</span> <br> Nested comments allow you to add your voice to any conversation.
					The commenting system was built from scratch with no frills for maximum ease of use.
				</span>
			</div>
		</div>
		<br><br>
		<span class="lead">But wait, there's more!</span><br>
		You can try Shipprr in open beta right now. Post your ships, add headlines, and start commenting.<br>
		After you give it a try, send your questions, comments, theories and suggestions to <%= link_to 'contact@shipprr.com', 
		'mailto: contact@shipprr.com', target: "_blank" %> to let us know what you think.<br><br>
		<%= link_to "Take Me To Shipprr", "https://shipprr.herokuapp.com", target: "_blank", class: "btn btn-submit" %>

	</div>
</div>
</div>
<div class="colorbar-blue"></div>
<div class="colorbar-darker"></div>
<div class="colorbar-darkest"></div>


